@media (min-width=992px){
    body{
        width: 80%;
        margin: auto;
        font-size: 75%;

    }
    .section_1{
        width: 50%;
    }
    .section_2{
        width: 50%;
    }
    .section_3{
        width: 50%;
    }
}
@media (max-width=991px), (min-width=768px){
    body{
        width: 90%;
        margin: auto;
        font-size: 75%;

    }
    .section_1{
        width: 60%;
    }
    .section_2{
        width: 60%;
    }
    .section_3{
        width: 1000%;
    }
}
@media (max-width=767px){
    body{
        width: 100%;
        margin: auto;
        font-size: 75%;

    }
    .section_1{
        width: 100%;
    }
    .section_2{
        width: 100%;
    }
    .section_3{
        width: 1000%;
    }
}

body{
   font-size: 30px;
   
}
h1{
    align-items: center;
    text-transform: capitalize;
}
.section_1{
    background: green;
    

}
.section_2{
    background: yellow;
    

}
.section_3{
    background: red;
    
}
h2{
  
    border: 3px solid black;
    border-top: none;
    margin-top: 0;
    top: 0;
    background: white;
    
}
section{
    border: 3px solid black;
    justify-content: space-between;
}
